h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
body,
.overline,
.subtitle {
	font-family: var(--ff-100);
	font-weight: 700;
	text-transform: uppercase;
	opacity: 1;
}

body {
	font-size: 0.9375rem;
	line-height: 1.563rem;
	font-weight: 500;
	text-transform: none;

	p {
		opacity: 0.5;
	}
}

.overline {
	font-size: 0.875rem;
	line-height: 1.188rem;
	letter-spacing: 0.625em;
	color: var(--clr-p-100);
}

.sub-title {
	font-size: 0.813rem;
	line-height: 1.563rem;
	letter-spacing: 0.063em;
	color: var(--clr-p-100);
}

h1,
.h1 {
	font-size: 2.25rem;
	line-height: 2.5rem;
	letter-spacing: 0.08em;
}

h2,
.h2 {
	font-size: 1.75rem;
	line-height: 2.375rem;
	letter-spacing: 0.063em;
}

h3,
.h3 {
	font-size: 1.5rem;
	line-height: 2.25rem;
	letter-spacing: 0.054em;
}

h4,
.h4 {
	font-size: 1.75rem;
	line-height: 2.25rem;
}

h5,
.h5 {
	font-size: 1.5rem;
	line-height: 2.063rem;
}

h6,
.h6 {
	font-size: 0.938rem;
	line-height: 1.5rem;
	letter-spacing: 0.067em;
}

@media (min-width: 48rem) {
	
	h2,
	.h2 {
		font-size: 2.5rem;
		line-height: 2.75rem;
		letter-spacing: 0.063em;
	}
	
	h3,
	.h3 {
		font-size: 2rem;
		line-height: 2.25rem;
		letter-spacing: 0.054em;
	}
	
	h6,
	.h6 {
		font-size: 1.126rem;
		line-height: 1.25rem;
		letter-spacing: 0.081em;
	}
}


@media (min-width: 90rem) {
	h1,
	.h1 {
		font-size: 3.5rem;
		line-height: 3.625rem;
		letter-spacing: 0.125em;
	}
}