:root {
	--clr-p-100: hsla(21, 65%, 57%, 1); // Orange
	--clr-p-200: hsla(0, 0%, 6%, 1); // Dark Dark Grey
	--clr-p-300: hsla(0, 0%, 95%, 1); // Grey
	--clr-p-400: hsla(0, 0%, 98%, 1); // Light Light Grey

	--clr-n-100: hsla(0, 0%, 100%, 1); // White
	--clr-n-200: hsla(0, 0%, 0%, 1); // Black

	--clr-p-h-100: hsla(22, 93%, 75%, 1); // Orange - Hover

	--ff-100: 'Manrope', sans-serif;

	--trans-dur: 0.3s ease-in-out;

	--br: 8px;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 5.1rem);
}

a,
.add-to-cart,
.button-group .control,
.socials ul li a {
	transition: all var(--trans-dur);

	&:focus {
		outline-offset: 10px;
		outline: dashed;
		outline-width: 2px;
		outline-color: var(--clr-p-100);
		opacity: 1;
	}
}

.border-radius {
	border-radius: var(--br);
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
}
html,
body {
	height: 100%;
}
body {
	line-height: 1.563rem;
	-webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
input,
button,
textarea,
select {
	font: inherit;
}

.button {
	text-align: center;
	display: block;
	background-color: var(--clr-p-100);
	color: var(--clr-n-100);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	padding-block: 0.938em;
	padding-inline: 1.938em;
	transition: all var(--trans-dur);

	&:hover {
		background-color: var(--clr-p-h-100);
	}

	&.black {
		background-color: var(--clr-n-200);

		&:hover {
			background-color: hsla(0, 0%, 30%, 1);
		}

		&:focus {
			outline-offset: 10px;
			outline: dashed;
			outline-width: 2px;
			outline-color: var(--clr-n-100);
			opacity: 1;
		}
	}

	&.outline {
		background-color: transparent;
		border: solid 1px var(--clr-n-200);
		color: var(--clr-n-200);

		&:hover {
			background-color: var(--clr-n-200);
			color: var(--clr-n-100);
		}
	}
}

.page-head {
	background-color: var(--clr-n-200);
	color: var(--clr-n-100);
	text-align: center;
	border-top: 1px solid rgba(#fff, 0.1);
	margin-bottom: 4rem;

	.content {
		padding-block: 2rem;
	}
}

@media (min-width: 48rem) {
	.page-head {
		.content {
			padding-top: 6.563rem;
			padding-bottom: 6.063rem;
		}
	}

	.flow > *:where(:not(:first-child)) {
		margin-top: var(--flow-space, 7.5rem);
	}
}

@media (min-width: 90rem) {
	.page-head {
		border-top: 0;

		.content {
			border-top: 1px solid rgba(#fff, 0.2);
			padding-block: 6.125rem;
		}
	}

	.flow > *:where(:not(:first-child)) {
		margin-top: var(--flow-space, 10rem);
	}
}
